{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

# Serve the React frontend
:{$PORT} {
    log {
        format json
    }

    # Serve the React app from the 'build' directory
    root * Front/build
    encode gzip
    file_server
    try_files {path} /index.html

    # Proxy API requests to the Node.js server
    @api {
        path /api/*
    }

    reverse_proxy @api localhost:3000
}
