/* Basic styling for the header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .left-section .home-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  .right-section {
    display: flex;
    gap: 15px; 
  }
  
  .right-section .login-btn,
  .right-section .logout-btn,
  .right-section .signup-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
  }
  
  .right-section .login-btn {
    background-color: #6c757d; 
  }

    .right-section .logout-btn {
        background-color: #de5e6b;
    }
  
  .home-btn:hover,
  .logout-btn:hover,
  .login-btn:hover,
  .signup-btn:hover {
    opacity: 0.9;
  }
  