{
    admin off
    persist_config off
    auto_https off
    log {
        format json
    }
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

:{$PORT} {
    log {
        format json
    }

    rewrite /health /*

    root * build
    encode gzip
    file_server
    try_files {path} /index.html
}